<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body id="body">
    <main>
        <% if(modo == "black") { %> 
            <section id="seccion_white">
                <nav>
                    <a href="/change">Change to white</a>
                </nav>
            </section>
        <% } %>
        <% if(modo == "white") { %>
            <section id="seccion_black" >
                <nav>
                    <a href="/change">Change to black</a>
                </nav>
            </section>
        <% } %>
    </main>

</body>
</html>